<a href="https://colab.research.google.com/github/Rokhyun/ITDA/blob/main/ITDA_%EC%BD%94%EB%94%A9%EB%8F%84%EC%9E%A5_UNIT_11_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###UNIT 11 시퀸스 자료형 활용하기

In [ ]:
#시퀸스 자료형=값이 연속적으로 이루어짐. 리스트 튜플 range 문자열....

11-1-1 특정 값 있는지 확인

In [ ]:
#시퀸스 객체 안에 특정 값이 있는지 확인하기 in a

a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
30 in a

100 in a

False

In [ ]:
#반대로? not in a

a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
30 not in a

100 not in a

True

In [ ]:
#튜플, range, 문자열에서도 가능

43 in (38,76,43,62,19)

1 in range(10)

'P' in 'hello, Python'

True

11-1-2 시퀸스 객체 연결하기

In [ ]:
#시퀸스 객체는 + 연산자를 통해 연결, 새 객체 생성

In [ ]:
#시퀸스 객체 1 + 시퀸스 객체 2

a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
a+b

[0, 10, 20, 30, 9, 8, 7, 6]

In [ ]:
#range는 +로 연결할수없음

range(0,10)+range(10,20)

TypeError: ignored

In [ ]:
#>>> range를 리스트 또는 튜플로 만들어서 연결

list(range(0,10))+list(range(10,20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18)

In [ ]:
tuple(range(0,10))+tuple(range(10,20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [ ]:
#문자열은 그냥 가능

'H' + 'E' + 'LL' + 'o'

'HELLo'

In [ ]:
#문자열에 숫자를 연결하면 오류가 생김, 타입이 달라서 
#str로 숫자(정,실수)를 문자열로 변경하면 됨.

'Hello'+str(99)

'Hello99'

11-1-3 시퀸스 객체 반복

In [ ]:
#*연산자로 반복하여 새 객체 만든다. 0 또는 음수 곱하면 빈 객체 나오고 실수는 곱할 수 없음.

In [ ]:
#정수*시퀸스 or 시퀸스*정수 가능

[0,10,20,30] * 3

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [ ]:
#range는 +와 마찬가지로 * 안먹힘. 리스트 튜플로 변환시 가능.

range(0,5,2) * 3

TypeError: ignored

In [ ]:
list(range(0,5,2)) * 3

[0, 2, 4, 0, 2, 4, 0, 2, 4]

In [ ]:
#문자열은 가능

'안녕' * 3

'안녕안녕안녕'

11-2-1 리스트 튜플의 개수요소

In [ ]:
#len() 이용

a= [ 1,2,3,4,54,545]
len(a)

b= (1,23,4,213,2)
len(b)

5

In [ ]:
#range에 len 쓰면 숫자 생성 개수를 구함.

len(range(0, 10, 2)) #>>> 0부터 10까지 2개씩 증가 0,2,4,6,8

5

In [ ]:
#문자열 길이도 len()이용

len("PYthon")

6

11-3 인덱스 사용

In [ ]:
#시퀸스의 요소에 접근. 객체에 [] 붙이고 지정하면 접근가능함.
#시퀸스객체[인덱스] 이런식

In [ ]:
a = [38, 21, 53, 62, 19]
a[0]    # 리스트의 첫 번째(인덱스 0) 요소 출력>38
a[2]    # 리스트의 세 번째(인덱스 2) 요소 출력>53
a[4]    # 리스트의 다섯 번째(인덱스 4) 요소 출력>19

19

In [ ]:
#튜플, range도 [인덱스]로 가능.

b = (38, 21, 53, 62, 19)
b[0]               #튜플 첫번쨰(인덱스0)출력 >>> 38

r = range(0,10,2)
r[2]               #range 출력의 세 번째(인덱스 2) 출력 ==0,2,[4],6,8 중  4출력

4

11-3-1 음수 인덱스 지정하기

In [ ]:
a = [38, 21, 53, 62, 19]
a[-1]            #리스트 뒤에서 첫번째 출력

19

In [ ]:
#튜플도 동일함.

In [ ]:
#range 역시 같음.

r = range(0, 10, 2) #>>>0.2.4.6.8 출력될것
r[-3]               #이중 뒤에서 세번째 (인덱스 -3 ) 출력

4

11-3-4 요소에 값 할당하기

In [ ]:
#[]로 접근 후 = 으로 할당함.

In [ ]:
#리스트

리스트 = [0,0,0,0,0] #0 5개 든 리스트
a[0] = 1
a[1] = 2
a[2] = 100
a[4] = 99
a

[1, 2, 100, 62, 99]

11-3-5 del로 요소 삭제하기

In [ ]:
#del a[] 꼴로 삭제함.

In [ ]:
#리스트만 가능

a = [13213, 231, 2]
del a[2] #세번째 요소(인덱스 2)삭제

In [ ]:
#튜플, range는 불가

In [ ]:
#문자열 가능

11-4 슬라이스

In [ ]:
#[]안에 시작과 끝 지정하여 가져옴
#[2:4] 꼴로
# "끝 인덱스는 가져오지 않음[1:5]면 1-4까지 함. 하나 더 해야 똑바로 됨"

a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[0:4] #이렇게 인덱스 0-3까지 함.

[0, 10, 20, 30]

In [ ]:
#중간부터 가져오려면 이렇게

a[4:7] #인덱 4부터 6까지

[40, 50, 60]

In [ ]:
#증가폭 사용하며?

a[1:10:4] 
#인덱 1부터 10까지 4씩 증가하며 가져옴

[10, 50, 90]

In [ ]:
#생략
#첨부터 끝 하려면

a[:4]

[0, 10, 20, 30]

11-4-5 len 응용하여 가져오기

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[0:len(a)]

#a요소는 10개임. len(a)는 10이고 이는 a[0:10]과 같은 의미임.

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
#range에 슬라이스

r = range(10)
r

r[4:7]
r[4:]

range(4, 10)

11.6 연습문제

In [ ]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

11.8 심사문제

In [ ]:
x = input().split()
del x[-5:]
print(tuple(x))

oven bat pony total leak wreck curl crop space navy loss knee
('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')

11.9 심사문제

In [ ]:
a = input()
b = input()
a = (a[1::2])
b = (b[::2])
print(a+b)

python
python
yhnpto

###UNIT 12 딕셔너리

In [ ]:
#여러 값을 묶어서 저장하는 용도로 딕셔너리 자료형

In [ ]:
#캐릭터 럭스의 능력

lux = {'health':490, 'mana':44,'amor':18.72}

In [ ]:
#딕셔너리는 {중괄호}안에 키:값으로 저장함. ,콤마로 구분.
#딕셔너리 = {키1: 값1, 키2: 값2}

lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

#or dict()안에 넣기

lux1 = dict(health=490, mana=334, melee=550, armor=18.72)

12-1-3 빈 딕셔너리 만들기

In [ ]:
#딕셔너리명 = {}
#or
#딕셔너리 = dict()

x = {}
x

y = dict()
y

{}

12-2-1 딕셔너리 키에 접근

In [ ]:
#딕셔너리 뒤에 [대괄호] 사용, 안에 키 넣기
#딕셔너리[키]

lux['armor']

18.72

12-2-1.5 키에 할당하기

In [ ]:
#딕셔너리[키] = 값

lux['health'] = 1
lux

{'health': 1, 'mana': 334, 'melee': 550, 'armor': 18.72}

12-2-2딕셔너리에 키 있는지 확인하기

In [ ]:
'health' in lux

True

In [ ]:
'attack speed' not in lux

True

12-3 키 개수 구하기

In [ ]:
len(lux)

4

12-4 연습문제

In [ ]:
camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340
}

print(camille['health'])
print(camille['movement_speed'])

575.6
340

12-5 심사문제

In [ ]:
x = input().split()
y = map(float,input().split())
lux = dict(zip(x,y))
print(lux)

health health_regen mana mana_regen
575.6 1.7 338.8 1.63
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}