<a href="https://colab.research.google.com/github/Rokhyun/ITDA/blob/main/ITDA_%EC%BD%94%EB%94%A9%EB%8F%84%EC%9E%A5_UNIT_13_14_15_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#UNIT 13 if 조건문

###13-1 조건문 사용하기

In [ ]:
#if 조건식:
     #코드 

#이러한 형식으로 사용한다. 실행할 코드에는 들여쓰기가 필요.

In [ ]:
x = 10
if x == 10:
  print('10입니다.')

10입니다.

In [ ]:
#값을 비교할 경우 = 아닌 ==을 이용해야 함.

In [ ]:
x = 10
if x == 10:
  pass

#if 다음에 pass 키워드를 넣으면 그냥 넘어감.

13-7 심사문제

In [ ]:
a = int(input())
b = input()
if b == 'Cash3000':
  print(a - 3000)
if b =='Cash5000':
  print(a - 5000)

72000
Cash5000
67000

#UNIT14 else

14-1 else 사용하기

In [ ]:
#if 조건문은 조건식에 맞는 코드만 사용. else를 통해 만족하지 않을 경우
#다른 코드를 사용할 수 있음. 분기

if 조건식:

    코드:
else:

    코드2

In [ ]:
x = 5
if x ==10:
  print('10임')
else:
  print('10이 아님.')

10이 아님.

14-3 if 조건문의 동작방식

In [ ]:
if True:
    print('참')    # True는 참
else:
    print('거짓')
 
if False:
    print('참')
else:
    print('거짓')    # False는 거짓
 
if None:
    print('참')
else:
    print('거짓')    # None은 거짓

참
거짓
거짓

14-3-1 if문에 숫자 지정

숫자는 0이면 거짓 0이 아니면 참

In [ ]:
if 0:
    print('참')
else:
    print('거짓')    # 0은 거짓
 
if 1:
    print('참')    # 1은 참
else:
    print('거짓')
 
if 0x1F:    # 16진수
    print('참')    # 0x1F는 참
else:
    print('거짓')
 
if 0b1000:    # 2진수
    print('참')    # 0b1000은 참
else:
    print('거짓')
 
if 13.5:    # 실수
    print('참')    # 13.5는 참
else:
    print('거짓')

거짓
참
참
참
참

14-3-2 if 문자열 지정

-문자열은 내용이 있으면 참. 없으면 거짓

In [ ]:
if 'Hello':    # 문자열
    print('참')    # 문자열은 참
else:
    print('거짓')
 
if '':    # 빈 문자열
    print('참')
else:
    print('거짓')    # 빈 문자열은 거짓

참
거짓

14-4 여러개의 조건식

In [ ]:
x = 10
y = 20

if x == 10 and y == 20: #x가 10이면서 동시에 y가 20일때
  print('참') 
else:
  print('거짓')

참

14-4 중첩 if문

In [ ]:
if x > 0:
  if x < 20:
    print('20보다 작은 양수입니다.')

20보다 작은 양수입니다.

14-6 연습문제

In [ ]:
wt = 75
ct = True
 
if wt >= 80 and ct == True:
    print('합격')
else:
    print('불합격')

불합격

14-7 심사문제

In [ ]:
korean, english, mathematics, science = map(int, input().split())

if korean < 0 or korean > 100 or english < 0 or english > 100 or mathematics < 0 or mathematics > 100 or science < 0 or science > 100:
  print('잘못된 점수')
else:
  if (korean + english + mathematics + science) / 4 >= 80:
    print('합격')
  else:
    print('불합격')

98 98 55 64
불합격

#UNIT 15 elif 사용

elif는 else처럼 사용. else if 라는 뜻. 단독사용 불가.

순서 if >> elif >> else

In [ ]:
x = 20
if x == 10:
  print('10임')
elif x == 20:
  print('20임')

20임

In [ ]:
#if else elif 모두 사용하기

x = 30

if x ==10:
  print('10입니다.')
elif x == 20:
  print('20임.')
else:
  print('뭣도아님')

뭣도아님

15-3 연습문제

In [ ]:
x = int(input())
if 11 <= x <=20:
  print('11~20')
elif 21 <= x <= 30:
  print('21~30')
else:
  print('뭣도아님')

5
뭣도아님

15-4 심사문제

In [ ]:
age = int(input())
balance = 9000

if 7 <= age <= 12:
  balance = balance -650
elif 13 <= age <= 18:
  balance = balance - 1050
else:
  balance = balance - 1250

print(balance)

17
7950