<a href="https://colab.research.google.com/github/Rokhyun/ITDA/blob/main/ITDA_%EC%BD%94%EB%94%A9%EB%8F%84%EC%9E%A5_UNIT8-10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#파이썬 코딩도장

unit 8-1

In [ ]:
3 > 1

#판단 결과로 true,false를 사용

True

In [ ]:
10==10  #같은지 비교할 떄 ==(equal) 

10 != 5 #다른지 비교할 때 !=(not equal) 

#비교할때는 = 이 아닌 ==을 사용함. =는 이미 할당 연산자로 사용되고 있기 떄문

True

In [ ]:
#문자열 비교하기

'python' == 'python'

True

In [ ]:
'Python' == 'python'

False

In [ ]:
'Python' != 'python'

True

In [ ]:
10 > 20

False

In [ ]:
10 >= 20

False

In [ ]:
#is 와 is not

# ==,!=는 값 자체의 비교에 사용/is,is not은 객체를 비교함

In [ ]:
1 == 1.0

True

In [ ]:
1 is 1.0 

 #왜 결과가 다르냐? ==는 값 자체를 비교해 같다고 봄. 
#그러나 is는 1을 정수 객체, 1.0을 실수 객체 이렇게 다르게 판단하기 떄문임.

False

unit 8-2

In [ ]:
#논리 연산자
#and

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
False and False #and 연산자는 두 값이 모두 True여야 True임.

False

In [ ]:
#or

In [ ]:
True or True

True

In [ ]:
True or False

True

In [ ]:
False or False #or 연산자는 둘 중 하나라도 True면 True임

False

In [ ]:
#not

In [ ]:
not True

False

In [ ]:
not False #not 연산자는 논릿값을 뒤집음.

True

In [ ]:
not True and False or not False 
# not True and False = False and False 가 됨 이것은 곧 False이기에 False or not false(true)를 판단하면
#최종적으로 True가 됨 >>>괄호로 하면? ((not True) and False) or (not False)

True

In [ ]:
#논리 연산자와 비교 연산자를 함께 사용하기

In [ ]:
10 == 10 and 10 != 5  # = True and True

True

In [ ]:
10 > 5 or 10 < 3      #True or False

True

In [ ]:
#정수, 실수, 문자열을 불로 만들기 (참고)

In [ ]:
#정수 1은 True, 정수 0은 False. boo1(1) 또는 bool(0)의 형식

bool(1)

True

In [ ]:
bool(0)

False

In [ ]:
bool('abcd') #빈 문자열 ' ' 이나 " 을 제외한 모든 문자열은 True

True

In [ ]:
bool(1545564511) #정수 0, 실수 0.0을 제외한 모든 숫자는 True

True

8-4 연습문제

In [ ]:
korean = 92
english = 47
mathematics = 86
science = 81

print(korean >= 50 and english >= 50 and mathematics >= 50 and science >= 50)

False

8-5 심사문제

In [ ]:
국어, 영어, 수학, 과학 = map(int,input().split())
print(국어 >= 90 and 영어> 80 and 수학 >= 85 and 과학 >= 80)

#input으로 입력하면 문자열로 들어가기에 map에 int를 사용하여 정수로 변환.

90 80 85 80
False

unit 9-1

In [ ]:
hello = 'Hello, world!'
hello

'Hello, world!'

In [ ]:
hello = '안녕하세요'
hello

'안녕하세요'

In [ ]:
hello = "hello world"
hello

'hello world'

In [ ]:
hello = '''작은따옴표로 묶기'''
hello

'작은따옴표로 묶기'

In [ ]:
hello = """큰따옴표로 묶기"""
hello

'큰따옴표로 묶기'

In [ ]:
hello = '''Hello, world! 
안녕하세요.
gutten tag!
python입니다.'''

hello #"""" 또는 '''로 문자열 시작하고 엔터치면 여러줄 문자열 작성가능

'Hello, world! \n안녕하세요.\ngutten tag!\npython입니다.'

In [ ]:
#퀴즈 
#문자열 안에 '(작은따옴표)나 "(큰따옴표) 넣기.
print('Hello, \'Python\'') #'에 \을 붙이기
print("Hello, 'Python'")   #""로 묶기
print(""""Hello", Python""")#""" """"로 묶기

Hello, 'Python'
Hello, 'Python'
"Hello", Python

9.3 연습문제

In [15]:
s = '''Python is a programming language that lets you work quickly
and
integrate systems more effectively.''' 

print(s)
#''' 또는 """를 걸고 엔터키로 내리면 문자열이 여러줄로 출력됨

Python is a programming language that lets you work quickly
and
integrate systems more effectively.

9.4 심사문제

In [11]:
s = """\'Python\' is a \"programming language\"
that lets you work quickly
and
integrate systems more effectively."""
print(s)

#여러번 틀린 문제.\'을 넣어야 하는데 까먹음. 아니 근데

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

In [12]:
#이거랑 
s ="""'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively."""
print(s)
#이거 뭐가 다른거임 값이????????????

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

Unit 10-1

In [16]:
#리스트 만들기

In [19]:
a = [38, 21, 53, 62, 19] #대괄호 안에 수들을 넣으면 리스트가 된다.
a                        #리스트 안의 값들을 요소, Element라고 부름.

[38, 21, 53, 62, 19]

In [20]:
person = ['james', 17, 173.3, True] #이렇게 자료형,정수,실수.불을 한 리스트에 저장 가능함
person

['james', 17, 173.3, True]

In [26]:
a = []
b = list()
a, b #빈 리스트를 만들때는 [] 또는 list()를 사용한다.

([], [])

In [31]:
 #range는 연속된 숫자 생성함. 10을 지정하면 0~9까지 생성, 하나 아래로 쭉 생성함. 지정된 숫자는 포함 x.
 range(10)

range(0, 10)

In [34]:
a = list(range(10))
a #이런식으로~

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
b = list(range(1,15)) #이렇게 시작과 끝을 정할 수 있음. 역시나 지정수보다 하나 아래까지 생성
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [46]:
c = list(range(1, 12, 3)) #증가폭 사용
c                         #증가폭을 사용하면 해당 값(여기선 3)씩 증가하면서 생성함

[1, 4, 7, 10]

In [60]:
d = list(range(-2, 10, 2))#-음수로도 똑같이 가능함. 이것도 끝나는 값(10)까진 안감,
d

[-2, 0, 2, 4, 6, 8]

In [61]:
e = list(range(10,0,-1))
e                                #증가폭 음수로 하면 위부터 줄어들음

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

unit 10.2